

 .profile-page{
    border: 0px solid red;
    display: grid;
    grid-template-rows: 1fr auto;
 }

    .profile-head{
        border: 0px solid white;
        display: grid;
        grid-template-columns: 1.5fr 5fr;
        padding-left: 20px;
        max-height: 200px;
        padding-bottom: 20px;
    }
      .profile-side{
        display: grid;
        grid-template-rows: 4fr 1fr;
        gap: 10px;
        padding-top: 20px;
        padding-right: 10px;
      }
        .picture-cont{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #edit-profile{
          padding: 8px 16px;
           background-color: cadetblue;
           color: white;
           cursor: pointer;
           border-radius: 15px;
           position: relative;
           top:5px;
           margin:  auto; 
           

        }

        .profile-main{
            border: 0px solid white;
            display: grid;
            grid-template-rows: 1fr 2fr;
            border-left: 1px solid rgb(55,55,55);
            padding-left: 10px;
            padding-top: 10px;
        }
            .profile-name{
                font-size: 16pt;
                display: flex;
                align-items: center;
            }

            .profile-desc{
                width: 90%;
                border-top: 1px solid rgb(55,55,55);
                font-size: 12pt;
                color: white;
                padding-top: 5px;
            }
            
            #follow-btn{
                width: 60px;
                border-radius: 15px;
                color: white;
                background-color: cadetblue;
                cursor: pointer;
            }
        
            #profile-pic-prof{
                width: 125px;
                height: 125px;
                border-radius: 60px;
            }

    .profile-body{
       
    }


    /*PROFILE FORM */
    #profile-form{
        display: none;
        margin: 0 auto;
        background-color: cadetblue;
        width: 400px;
        height: 400px;
        grid-template-rows: 1fr 2fr 3fr 2fr 1fr;
        padding: 2%;
        z-index: 1;
        position:absolute;
        bottom: 150px;
        right: 600px;
        box-shadow: 5px 10px 10px rgb(15,15,15);
    }
        

    #profile-form>div{
        border: 1px solid cadetblue;
        background-color: white;
    }

        .profile-header{
            padding: 2.5% 5%;
            display: flex;
            justify-content: space-between;
        }
        
            #close-edit{
                cursor: pointer;
            }

        .name-cont, .desc-cont, .pp-cont{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5%;
        }

            #user-PP{
                width: 100px;
                height: 100px;
            }
            #name-input{
                border: 1px solid cadetblue;
                width: 75%;
                height: 50%;
            }
            #desc-text{
                resize: none;
                width: 75%;
                height: 100%;
                border: 1px solid cadetblue;
            }

       
            #add-img-btn{
                background-color: cadetblue;
                color: white;
            }

        #profile-form-add{
            width: 15%;
            height: 80%;
            background-color: cadetblue;
            color: white;
            margin-top: 3%;
        }