.sidebar{
    padding: 20px;
    display: flex;
    flex-direction: column;
    
  
}

    .search-bar-cont{
        position: sticky;
        top: 20px;
      
    }
    
    .search-title{
        font-size: 14pt;
        font-weight: 600;
        padding-left: 5px;
    }
    .search-cont{
        display: grid;
        grid-template-columns: 7fr 1fr;
        gap: 5px;
        padding-top: 10px;
    }
    

    #search-query{
        height: 25px;
        border-radius: 13px;
        padding: 2px;
        font-size: 11pt;
        color: cadetblue;
    }

    #search-btn{
        border-radius: 15px;
        display: flex;
        align-items: center;
        color: white;
        background-color: cadetblue;
    }
        #search-btn>span:hover { color:black}

        .display-result-cont{
           background-color: white;
           font-size: 10pt;
           overflow: auto;
           height: 250px;
           display: none;
           padding: 5px;
           position: sticky;
           top: 80px;
        }

        .cont-result:hover{
            background-color: rgb(200,200,200);
        }

        .cont-result{
            padding-bottom: 5px;
        }

            .user-result{
                color: black;
                padding-top: 5px;
            }

        .sidebar-footer{
            position: fixed;
            bottom: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
           #github-logo{
            font-size: 24pt;
            color: white;
            padding-right: 10px;
            cursor: pointer;
           }

